* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header {
	background-color: #EC715F;
	width: 100%;
	height: 70px;
}

.navbar {
	width: 1024px;
	height: 70px;
	margin: 0 auto;
}

.header-logo {
	height: 70px;
}

nav {
	float: right;
}

.navlist {
	display: inline-block;
	list-style: none;
	margin:  auto 30px;
	line-height: 70px;
}

.navlist a {
	font-size: 16px;
	color: #FAFAFA;
	text-decoration: none;
}

.main-visual {
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-size: contain;
}

.main-visual h1 {
	color: #FAFAFA;
	font-size: 64px;
	text-align: center;
	padding: 200px 0 10px 0;
}

.main-visual p {
	color: #FAFAFA;
	font-size: 20px;
	text-align: center;
}

.portfolio {
	width: 100%;
	background-color: #ECEFF1;
}

.pf-content {
	width: 920px;
	margin: 0 auto;
}

.pf-text {

}

.pf-text h2 {
	font-size: 32px;
	color: #000000;
	text-align: center;
	padding: 90px 0 8px 0;
}

.pf-text h2::after {
	content: "";
	display: block;
	height: 3px;
	width: 70px;
	background-color: #EC715F;
	margin: 0 auto;
}

.pf-text p {
	font-size: 16px;
	color: #000000;
	text-align: center;
	padding: 30px 0;
}

.pf-img-box {
	padding-bottom: 90px;
}

.pf-images:first-child {
	float: left;
	width: 300px;
	height: 250px;
	background-image: url(img/sketch.jpg);
	background-size: cover;
	margin: 0 10px 10px 0;
}
.pf-images:nth-child(2) {
	float: left;
	width: 300px;
	height: 250px;
	background-image: url(img/websuku.png);
	background-size: cover;
	margin: 0 10px 10px 0;
}
.pf-images:nth-child(3) {
	float: left;
	width: 300px;
	height: 250px;
	background-image: url(img/write.jpg);
	background-size: cover;
	margin-bottom: 10px;
}
.pf-images:nth-child(4) {
	float: left;
	width: 300px;
	height: 250px;
	background-image: url(img/webcamp.png);
	background-size: cover;
	margin-right: 10px;
}
.pf-images:nth-child(5) {
	float: left;
	width: 300px;
	height: 250px;
	background-image: url(img/talk.jpg);
	background-size: cover;
	margin-right: 10px;
}
.pf-images:last-child {
	float: left;
	width: 300px;
	height: 250px;
	background-image: url(img/webcamp-mother.png);
	background-size: cover;
}

.feature {
	width: 100%;
}

.ft-content {
	width: 980px;
	margin: 0 auto;
	padding: 90px 0;
}

.ft-text {
	text-align: center;
}

.ft-text h2 {
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
}

.ft-text h2::after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background-color: #EC715F;
	margin: 0 auto;
}

.ft-text p {
	font-size: 16px;
	color: #000000;
	padding: 30px 0;
}

.strength-box {
	margin: 0 auto;
}

.strength {
	width: 320px;
	float: left;
	margin-right: 10px;
	text-align: center;
}

.strength:last-child {
	margin-right: 0;
}

.fas {
	font-size: 60px;
}

.strength h3 {
	font-size: 20px;
	color: #000000;
}

.strength p {
	text-align: left;
}












